.ltm3{
    letter-spacing: -3px;
}
.ltm2{
    letter-spacing: -2px;
}
.ltm1{
    letter-spacing: -1px;
}
.lt1{
    letter-spacing: 1px;
}
.lt5{
    letter-spacing: 5px;
}
.lt10{
    letter-spacing: 10px;
}
.lt15{
    letter-spacing: 15px;
}
.lt20{
    letter-spacing: 20px;
}